# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

.env
/be/.env

# Compiled output
/dist
/fe/dist
/tmp
/out-tsc
/bazel-out

/be/.env
/be/.env.appwrite
/be/.env.supabase

# Node
/node_modules
/fe/node_modules
/be/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
/fe/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
