APPWRITE_ENDPOINT=https://appwrite.melmo.eu/v1
APPWRITE_PROJECT_ID=69eb57930038abac17b3
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=6854f4e1002a5444cd36
APPWRITE_ROUTES_TABLE_ID=6854f508002dfc11534b
APPWRITE_DEFAULT_BUCKET_ID=routes
